Misuses of cryptographic APIs

Hi
The following lines have cryptographic API misuses. <br> File name => transport/src/main/java/org/kaazing/gateway/client/transport/ws/WebSocketDelegateImpl.java: Line number => 1053: API name => MessageDigest:First parameter (with value "SHA-1") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => transport/src/main/java/org/kaazing/gateway/client/transport/ws/WebSocketDelegateImpl.java: Line number => 1055: API name => MessageDigest:<BR> File name => transport/src/main/java/org/kaazing/gateway/client/transport/ws/WebSocketDelegateImpl.java: Line number => 1055: API name => MessageDigest:<BR>

WebSocket protocol handshake requires use of SHA-1 and also doesn't depend on security properties such as collision resistance, see [RFC 6455, section 10.8](https://tools.ietf.org/html/rfc6455#section-10.8).

>**10.8.  Use of SHA-1 by the WebSocket Handshake**
>
>   The WebSocket handshake described in this document doesn't depend on
>   any security properties of SHA-1, such as collision resistance or
>   resistance to the second pre-image attack (as described in
>   [[RFC4270]](https://tools.ietf.org/html/rfc4270)).